{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 style="color:#660066">About<br>Jasmine</h1>


      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
                {% if  section != None  %}
                    {% include  "jasmine/map.html" %}
                {% else %}
                    {% include  "jasmine/map.html" %}
                {% endif%}
        </div>




        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>


{% endblock %}
