{% load static  %}
{% load humanize %}

<section>
  <!-- item menu -->
  <div class="item-menu">
    <div class="book-preview">
      <div class="cover">
        <a href="#" onclick="view_big_img();">
          <img class="thumbnails" src="static/img/items/t{{item.itemnum}}.jpg" onerror="this.onerror=null; this.src='static/img/items/terror.jpg';">
        </a>
      </div>
      <p><a href="#">미리보기</a></p>
    </div>
    <div class="order-box">
      <h2 class="book-title"><strong>{{item.itemname}}</strong></h2>
      <p class="txt-info">
        저자 : {{item.authorname}}<br>
        출간일 : {{item.itemdate|date:"Y-m-d"}}
      </p>

      <div class="book-price">
        <p class="ebook-price">E-book 정가</p>
        <h3 class="price">{{item.price|intcomma}}원</h3>
      </div>
      <div class="btn-wrap">
        <a class="buttons" href="{% url 'payment' %}?itemnum={{item.itemnum}}">즉시 구매하기</a>
        <a class="buttons" href="{% url 'cartlist' %}?itemnum={{item.itemnum}}">장바구니에 담기</a>
      </div>
    </div>
  </div>
  <!-- //item menu -->

  <!-- item detail -->
  <div class="item-detail">
    <div class="detail-title">
      책 소개
    </div>
    <div class="detail-body">
      <p>{{item.iteminfo}}</p>
      <hr>
    </div>

    <div class="detail-title">
      저자 소개
    </div>
    <div class="detail-body">
      <strong>
        <span>저자: </span>
        <span>{{item.authorname}}</span>
      </strong>
      <hr>
      <p>{{item.authorinfo}}</p>
      <hr>
    </div>
  </div>
  <!-- //item detail -->

</section>



<script>
  function view_big_img(){
    $.magnificPopup.open({
      items: [
        {
          src: 'static/img/items/b{{item.itemnum}}.jpg'
        }
      ],
      type: 'image'
    });
  };
</script>