
{% load static %}

<style>
    section{
        background-image: url("static/img/icon/mintwave.png");
        background-position:left down;
        background-repeat: no-repeat;
    }

</style>

<section>

    <h1>LOGIN PAGE</h1>
    <div id="login_div">
        <form id="login_form" action="{% url 'loginimpl' %}" method="POST">
            {% csrf_token %}
            ID<input type="text" name="id"><br>
            PWD<input type="password" name="pwd"><br><br>
            <input id="loginsq" type="submit" value="LOGIN"><br><br>
            회원가입을 원하신다면&#10153;  <div id="login_join"><a href="{% url 'join' %}">join</a></div>
        </form>
    </div><br><br><br><br><br><br><br><br><br><br><br>










</section>
