{% load static %}

{% load humanize %}


<script>

</script>
{% block content %}


<section><br>
   <div class="item-menu">
        <div class="book-preview">
              <div class="cover">
                <a href="#" onclick="view_big_img();">
                  <img class="thumbnails" src="static/img/items/t{{item.itemnum}}.jpg" onerror="this.onerror=null; this.src='static/img/terror.jpg';">
                </a>
              </div>
        </div>
   </div>
   <div class="order-box">
      <h2 class="book-title"><strong>{{item.itemname}}</strong></h2>
      <p class="txt-info">
        저자 : {{item.authorname}}<br>
        출간일 : {{item.itemdate|date:"Y-m-d"}}
      </p>
      <div class="book-price">
        <p class="ebook-price">E-book 정가</p>
        <h3 class="price">{{item.price|intcomma}}원</h3>
      <br>
           <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default">PC Donwload</a>
                <a href="#" class="btn btn-default">iOS Dwonload</a>
                <a href="#" class="btn btn-default">Android Download</a>
           </div><br>
           <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-primary">PC Viewer</a>
                <a href="#" class="btn info">Crema Viwer</a>
                <a href="#" class="btn btn-warning">Audio Book</a>
           </div>
      </div>
   </div>
   <h2>최근에 구입한 E-Book</h2>
             {% for item in orderlist %}
   <div class="container">
        <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="static/img/items/t{{item.itemnum}}.jpg" >
                </a>
              </div>
        </div>
    </div>

</section>

{% endblock %}