
<h2>결제 수단 선택</h2><br>

<div class="container">
<div class="row">
    <form action="{% url 'payimpl' %}" accept-charset="utf-8" method="POST">
    {% csrf_token %}
       <div class="form-group">
        <table width="670" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td width="37%">
                        <input type="radio" value="Toss" id="PayMethod" name="PayMethod"><span><label for="PayMethod">
                        <img src="https://image.aladin.co.kr/img/order/step2_logo_toss.jpg" align="absmiddle">
                        </label></span>
                    </td>
                    <td width="33%">
                        <input id="PayMethod_37" type="radio" value="intercard" name="PayMethod" ><label for="PayMethod_37">해외발급 신용카드</label>
                    </td>
                    <td width="30%">
                        <input id="PayMethod_15" type="radio" value="send" name="PayMethod" ><label for="PayMethod_15">실시간계좌이체</label>
                    </td>
                    </tr>
                    <tr>
                    <td width="37%">
                        <input id="PayMethod_13" type="radio" value="creditcard" name="PayMethod"><span><label for="PayMethod_13">신용카드</label></span>
                    </td>
                    <td width="33%">
                        <input id="PayMethod_2" type="radio" value="deposit" name="PayMethod" ><label for="PayMethod_2">무통장입금</label>
                    </td>
                    <td width="30%">
                        <input type="radio" value="phonepay" id="PayMethod_17" name="PayMethod" ><label for="PayMethod_17">휴대폰 결제</label>
                    </td>
                </tr>
                <tr>
                    <td width="37%">
                        <input type="radio" value="naverpay" id="PayMethod_29" name="PayMethod" ><span><label for="PayMethod_29"><img src="https://image.aladin.co.kr/img/order/step2_logo_naver.jpg" align="absmiddle"></label></span>
                    </td>
                    <td width="33%">
                        <input type="radio" value="esroke" id="PayMethod_14" name="PayMethod" ><label for="PayMethod_14">에스크로</label>
                    </td>
                    <td width="30%"><input type="radio" value="lpay" id="PayMethod_35" name="PayMethod" ><span><label for="PayMethod_35"><img src="http://image.aladin.co.kr/img/order/step2_logo_lpay.jpg" align="absmiddle"></label></span>
                    </td>
                </tr>
                <tr>
                    <td width="37%">
                        <input type="radio" value="kakaopay" id="PayMethod_34" name="PayMethod" ><span><label for="PayMethod_34"><img src="https://image.aladin.co.kr/img/order/step2_logo_kakao.jpg" align="absmiddle"></label></span>
                    </td>
                    <td width="33%">
                        <input type="radio" value="smilpay" id="PayMethod_33" name="PayMethod" ><span><label for="PayMethod_33"><img src="https://image.aladin.co.kr/img/order/step2_logo_smaile.jpg" align="absmiddle"></label></span>
                    </td>
                    <td width="30%">
                        <input type="radio" value="ssgpay" id="PayMethod_36" name="PayMethod" ><span><label for="PayMethod_36"><img src="http://image.aladin.co.kr/img/order/step2_logo_ssg.jpg" align="absmiddle"></label></span>
                    </td>
                </tr>
                <tr>
                    <td width="37%">
                        <input type="radio" value="payco" id="PayMethod_27" name="PayMethod" ><span><label for="PayMethod_27"><img src="https://image.aladin.co.kr/img/order/step2_logo_payco.jpg" align="absmiddle"></label></span>
                    </td>
                    <td width="33%">
                        <input type="radio" value="samsumpay" id="PayMethod_32" name="PayMethod" ><span><label for="PayMethod_32"><img src="https://image.aladin.co.kr/img/order/step2_logo_samsung.jpg" align="absmiddle"></label></span>
                    </td>
                    <td width="30%">
                    </td>
                </tr>
            </tbody>
        </table>
       </div>
        <table width="680" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
                <tr>
                    <td align="center">
                        <div>
                            <button class="btn btn-default"><a href="{% url 'itemcontent' %}?itemnum={{item.itemnum}}">이전 단계</a></button>
                        </div>
                    </td>
                    <input type="hidden" name="itemnum" value="{{item.itemnum}}">
                    <input type="hidden" name="id" value="{{ request.session.suser }}">
                    <td align=center">
                        <div>
                            <button class="btn btn-primary" align="center">결제하기</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table></br>
    </form>
</div>
</div>