{% load static %}

{% block content %}
<section>

      <table width="670" cellspacing="1" cellpadding="0" border="0" bgcolor="#a2a2a2">
    <tbody><tr>
      <td class="popup" width="86" height="28" bgcolor="#f4f4f4" align="center">Thanks to</td>
      <td class="popup" bgcolor="#f4f4f4" align="center">상품명</td>
      <td class="popup" width="138" bgcolor="#f4f4f4" align="center">가격</td>
      <td class="popup" width="74" bgcolor="#f4f4f4" align="center">수량</td>
    </tr>

<tr><td height="28" bgcolor="#FFFFFF" align="center"><img src="/ucl_editor/img_secur/order/thanks_b.gif"></td><td style="padding-left:8px" bgcolor="#FFFFFF"><a href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=71119826" target="_blank">[eBook] 자기 결정</a> - 행복하고 존엄한 삶은 내가 결정하는 삶이다 - 일상 인문학 005 <a href="http://www.aladin.co.kr/events/wevent.aspx?EventId=179240" target="_blank"><img src="https://image.aladin.co.kr/img/shop/2018/bu_deduct_o.gif" alt="소득공제" style="vertical-align:text-bottom;"></a></td><td bgcolor="#FFFFFF" align="center">6,000원 / 300원</td><td bgcolor="#FFFFFF" align="center">-</td></tr>

  </tbody></table>


<!--예상총액/장바구니 이동버튼-->
<table width="670" cellspacing="0" cellpadding="0" border="0">

<tbody><tr>
  <td style="padding-top:8px" valign="top"><strong>총 결제 예상 금액 : <font color="#cc3333">6,000 원</font></strong>&nbsp;<img src="/ucl_editor/img_secur/bu/help_b.gif" onmouseover="hDisplayShow('helpLayer_price')" onmouseout="hDisplayHide('helpLayer_price')" class="linkP" align="absmiddle">
    <table id="helpLayer_price" style="display:none; position:absolute;margin-top:-2px; margin-left:-30px;" width="325" cellspacing="0" cellpadding="3" border="0" align="left">
      <tbody><tr>
        <td bgcolor="#cfe3f6"><table width="100%" cellspacing="1" cellpadding="13" border="0" bgcolor="#6ca6dc">
          <tbody><tr>
            <td style="background:url(/ucl_editor/img_secur/order/2010/orlayer_bg.gif) repeat-x top;background-color:#FFFFFF;">
                총 결제 예상 금액은 장바구니에 담긴 상품의 주문액과 이전 단계에서 선택한 이벤트 굿즈를 기준으로 표시됩니다. 그러므로 배송 방법, 배송 주소 변경으로 인해 바뀐 배송료는 다음 단계(결제)에서 반영됩니다.
            </td>
          </tr>
        </tbody></table></td>
      </tr>
    </tbody></table>
  </td>
  <td style="padding-top:5px;" align="right">
    <div class="button"><a class="button_middle" href="http://www.aladin.co.kr/shop/wbasket.aspx"><strong>장바구니로 돌아가기</strong></a></div>

  </td>
</tr>
</tbody></table>
    <!--결재안내-->
<div style="width: 642px; margin: 0px auto; text-align: left; display: none;" id="deduct_helplayer_1">
<div class="caution_t"><!--<img src="http://image.aladin.co.kr/img/order/bul_caution.gif" alt="" align="absmiddle"> 신용카드/네이버페이는 소득공제 금액과 비공제 금액을 각각 나누어 결제합니다. --></div>
<div><strong>'결제하기'</strong> 버튼을 누르시면 소득공제 대상 금액을 먼저 결제한 후 비공제 대상 금액을 추가로 결제합니다.</div>
<div style="width:600px; margin:0 auto;text-align:left;">
<div class="price_f2">1차 : 소득공제 대상 결제 <strong><span id="sp_DeductPrice2">6,000</span></strong>원<br>2차 : 비공제 대상 결제 <strong><span id="sp_NonDeductPrice2">0</span></strong>원</div>
<!--<div class="price_f3" style="text-align:center;">(주문총액에서 쿠폰,적립금,상품권,외부포인트 등을 뺀 실 결제금액)</div>-->
</div>

<div class="order_info_t2">
<ul>
    <li>소득공제 대상 금액 결제 후 5분 이내에 비공제 대상 금액을 결제완료하셔야 주문이 정상적으로 접수됩니다. </li>
    <li>무이자할부, 각종 결제 금액별 혜택은 분할 결제 금액 기준으로 적용되므로 혜택을 받으려면 '소득공제 신청안함'을 체크해주세요.</li>
</ul>
</div>
</div>

<!--안내사항2-->
<div class="price_f2" style="text-align: center; padding-left: 0px; display: none;" id="deduct_helplayer_3">최종 결제 금액 <strong><span id="sp_TargetPrice">6,000</span></strong>원</div>
</div>

<div class="order_agree_wrap" style="z-index:-1;">
    <div class="agreelist2">
        <li><span id="agree_agree_text">구매조건을 확인하였으며 결제에 동의합니다.</span>
        <div class="terms_view" onclick="window.activeElementAll(this)"><a href="javascript:void(0);">내용 보기 <img src="https://image.aladin.co.kr/img/order/2020/icon_down.png" style=" padding-bottom:3px"></a></div></li>

        <!--동의하기 : 구매조건-->
        <li name="AgreeArea" style="display:none;">구매조건 확인 및 결제 진행에 동의<div class="info_box">주문 상품의 상품명, 가격, 배송 정보를 확인하였으며, 구매에 동의합니다.</div></li>


    </div>
</div>





    <table id="Table7" width="714" cellspacing="0" cellpadding="0" border="0" align="center">


        <tbody><tr>

            <td width="280">
                <div class="button_no2"><a style="padding:7px 10px 7px 10px;color:#333" href="https://www.aladin.co.kr/order/worder_step1.aspx"><img class="bullet_img" src="https://image.aladin.co.kr/img/bu/btn_red_arr_back.gif" border="0"> <strong>이전단계</strong></a></div>


            </td>

            <td id="button" align="left">
                <div class="button_cart" id="btmsubmit"><a id="imgsubmitbutton" name="imgsubmitbutton" style="padding:12px 40px 13px 37px" href="javascript:void(0);" onclick="frmSubmit();"><img src="https://image.aladin.co.kr/img/bu/icon_basketall1.png" border="0" align="absmiddle"><span id="btn_submit_ordercomplete">결제하기</span></a></div>
                <div id="btmsubmitpaypal" style="display:none;"><img class="linkP" id="img4" name="imgsubmitbutton" onclick="frmSubmit();" alt="주문장제출" src="https://image.aladin.co.kr/img/order/bt_paypal.jpg"></div>


            </td>
        </tr>


        <tr id="process" style="DISPLAY: none" colspan="2" align="center">
            <td>
            <img src="https://image.aladin.co.kr/img/loader.gif">
            </td>
        </tr>
    </tbody></table>

                        </td>

    <h1>Payment</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
            <div class="pic_area">
              <a href="{% url 'itemcontent' %}" class="book_img"><img src="static/img/testimg.jpg"></a>
            </div>
        </div>
        <!-- //picture -->
        <div class="col-lg-8">
            <div class="cont_area">
              <div class="item_title">
                  제목 : <a href="{% url 'itemcontent' %}">하마터면 깨달을 뻔 인지심리학자가 본 에고의 진실게임</a>
              </div>
              <div class="item_price">
                  가격 :
              </div>
            </div>
        </div>
      </div>
      <div>
        <tbody>
            <tr>
                <td width="700">
                    <span class="title"></span><span class="title">결제 수단 선택</span>
                </td>
            </tr>
        </tbody>
      </div><br>
      <div>
        <tbody>
        <tr>
            <td colspan="2" style="padding:10px 10px 20px 10px;" bgcolor="#FFFFFF">
			    <table width="96%" cellspacing="0" cellpadding="2" border="0">
                <tbody>
                    <tr>
                        <td width="37%">
                            <input type="radio" value="38" id="PayMethod_38" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_38">
                                <img src="https://image.aladin.co.kr/img/order/step2_logo_toss.jpg" align="absmiddle">
                                </label></span>
                        </td>
                        <td width="33%">
                            <input id="PayMethod_37" type="radio" value="37" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_37">해외발급 신용카드</label>
                        </td>
                        <td width="30%">
                            <input id="PayMethod_15" type="radio" value="15" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_15">실시간계좌이체</label>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%">
                            <input id="PayMethod_13" type="radio" value="13" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_13">신용카드</label></span>
                        </td>
                        <td width="33%">
                            <input id="PayMethod_2" type="radio" value="2" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_2">무통장입금</label>
                        </td>
                        <td width="30%">
                            <input type="radio" value="17" id="PayMethod_17" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_17">휴대폰 결제</label>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%">
                            <input type="radio" value="29" id="PayMethod_29" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_29"><img src="https://image.aladin.co.kr/img/order/step2_logo_naver.jpg" align="absmiddle"></label></span>
                        </td>
                        <td width="33%">
                            <input type="radio" value="15" id="PayMethod_14" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_14">에스크로</label>
                        </td>
                        <td width="30%"><input type="radio" value="35" id="PayMethod_35" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_35"><img src="http://image.aladin.co.kr/img/order/step2_logo_lpay.jpg" align="absmiddle"></label></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%">
                            <input type="radio" value="34" id="PayMethod_34" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_34"><img src="https://image.aladin.co.kr/img/order/step2_logo_kakao.jpg" align="absmiddle"></label></span>
                        </td>
                        <td width="33%">
                            <input type="radio" value="33" id="PayMethod_33" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_33"><img src="https://image.aladin.co.kr/img/order/step2_logo_smaile.jpg" align="absmiddle"></label></span>
                        </td>
                        <td width="30%">
                            <input type="radio" value="36" id="PayMethod_36" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_36"><img src="http://image.aladin.co.kr/img/order/step2_logo_ssg.jpg" align="absmiddle"></label></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="37%">
                            <input type="radio" value="27" id="PayMethod_27" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_27"><img src="https://image.aladin.co.kr/img/order/step2_logo_payco.jpg" align="absmiddle"></label></span>
                        </td>
                        <td width="33%">
                            <input type="radio" value="32" id="PayMethod_32" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_32"><img src="https://image.aladin.co.kr/img/order/step2_logo_samsung.jpg" align="absmiddle"></label></span>
                        </td>
                        <td width="30%">
                        </td>
                    </tr>
                </tbody>
                </table>
            </td>
        </tr>
        </tbody>
      </div>
      <div class="btn-lg-wrap" align="absmiddle">
          <a class="buttons" href="{% url 'paydetail' %}">결제하기</a>
      </div><br>
    </div><br>
</section><br>

{% endblock %}