
<script>
  $(document).ready(function(){
    $('.form-searchmod').each(function(){
      if($(this).val()=={{searchmod}}){
        $(this).attr("selected", "selected");
      }
    });
  });
</script>

<form class="navbar-form navbar-left" action="{% url 'itemlist' %}" accept-charset="utf-8" method="get">
  <div class="form-group">
    <input type="hidden" name="category" value="{{catenum}}">
    <input type="hidden" name="page" value="{{currentpage}}">
    <select class="form-select" name="searchmod">
      <option class="form-searchmod" value="1">제목 + 작가</option>
      <option class="form-searchmod" value="2">제목</option>
      <option class="form-searchmod" value="3">작가</option>
    </select>
    <input type="text" class="form-control" placeholder="Search" name="searchword" value="{{searchword}}">
  </div>
  <button type="submit" class="btn btn-default">검색</button>
</form>