<div class="row">
    <span class="title"></span><span class="title">결제 수단 선택</span><br>
    <table width="670" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td colspan="2" style="padding:10px 10px 20px 10px;" bgcolor="#FFFFFF">
                    <table width="96%" cellspacing="0" cellpadding="2" border="0">
                        <tbody>
                            <tr>
                                <td width="37%">
                                    <input type="radio" value="38" id="PayMethod_38" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_38">
                                    <img src="https://image.aladin.co.kr/img/order/step2_logo_toss.jpg" align="absmiddle">
                                    </label></span>
                                </td>
                                <td width="33%">
                                    <input id="PayMethod_37" type="radio" value="37" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_37">해외발급 신용카드</label>
                                </td>
                                <td width="30%">
                                    <input id="PayMethod_15" type="radio" value="15" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_15">실시간계좌이체</label>
                                </td>
                                </tr>
                                <tr>
                                <td width="37%">
                                    <input id="PayMethod_13" type="radio" value="13" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_13">신용카드</label></span>
                                </td>
                                <td width="33%">
                                    <input id="PayMethod_2" type="radio" value="2" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_2">무통장입금</label>
                                </td>
                                <td width="30%">
                                    <input type="radio" value="17" id="PayMethod_17" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_17">휴대폰 결제</label>
                                </td>
                            </tr>
                            <tr>
                                <td width="37%">
                                    <input type="radio" value="29" id="PayMethod_29" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_29"><img src="https://image.aladin.co.kr/img/order/step2_logo_naver.jpg" align="absmiddle"></label></span>
                                </td>
                                <td width="33%">
                                    <input type="radio" value="15" id="PayMethod_14" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><label for="PayMethod_14">에스크로</label>
                                </td>
                                <td width="30%"><input type="radio" value="35" id="PayMethod_35" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_35"><img src="http://image.aladin.co.kr/img/order/step2_logo_lpay.jpg" align="absmiddle"></label></span>
                                </td>
                            </tr>
                            <tr>
                                <td width="37%">
                                    <input type="radio" value="34" id="PayMethod_34" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_34"><img src="https://image.aladin.co.kr/img/order/step2_logo_kakao.jpg" align="absmiddle"></label></span>
                                </td>
                                <td width="33%">
                                    <input type="radio" value="33" id="PayMethod_33" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_33"><img src="https://image.aladin.co.kr/img/order/step2_logo_smaile.jpg" align="absmiddle"></label></span>
                                </td>
                                <td width="30%">
                                    <input type="radio" value="36" id="PayMethod_36" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_36"><img src="http://image.aladin.co.kr/img/order/step2_logo_ssg.jpg" align="absmiddle"></label></span>
                                </td>
                            </tr>
                            <tr>
                                <td width="37%">
                                    <input type="radio" value="27" id="PayMethod_27" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_27"><img src="https://image.aladin.co.kr/img/order/step2_logo_payco.jpg" align="absmiddle"></label></span>
                                </td>
                                <td width="33%">
                                    <input type="radio" value="32" id="PayMethod_32" name="PayMethod" onclick="selPayment(this.value);" class="linkP"><span><label for="PayMethod_32"><img src="https://image.aladin.co.kr/img/order/step2_logo_samsung.jpg" align="absmiddle"></label></span>
                                </td>
                                <td width="30%">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                 </td>
             </tr>
         </tbody>
    </table>
</div><br>