{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jasmine Homepage</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
  <link href="{% static 'css/angriff1.css' %}" rel="stylesheet">
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

</head>

<body>
{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">WELCOME Jasmine</h1>
        <div class="list-group">
          <a href="{% url 'itemlist' %}" class="list-group-item">공상과학(SF)</a>
          <a href="#" class="list-group-item">현실 판타지</a>
          <a href="#" class="list-group-item">무협지</a>
          <a href="#" class="list-group-item">코미디</a>
          <a href="#" class="list-group-item">순정/연애</a>
          <a href="#" class="list-group-item">학원/액션</a>
          <a href="#" class="list-group-item">고전/순수문학</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">
        {% if section != None %}
          {% include section %}
        {% else %}
          {% include "jasmine/itemlist.html" %}
        {% endif %}
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
</footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

{% endblock %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.magnific-popup.js' %}"></script>

</body>


</html>
