{% extends "base.html" %}

{% load static %}

<script>
    $(document).ready(function(){
        $('#login_form > input[type="button"]').click(function(){
            $('#login_form').attr({
                'action':'{% url "loginimpl" %}',
                'method':'POST'
            });
            $('#login_form').submit();
        });
    });

</script>
{% block content %}
<section>
    <h1>LOGIN PAGE</h1>
    <div id="login_div">
        <form id="login_form">
            {% csrf_token %}
            ID<input type="text" name="id"><br>
            PWD<input type="password" name="pwd"><br>
            <input id="loginsq" type="button" value="LOGIN"><input id="joinsq" type="button" value="JOIN"><br>
        </form>
    </div>
</section>
{% endblock %}