{% load static %}


<section>
    <h1>Order History</h1>

            <table class="table">
         <thead>
           <tr>
              <th>주문번호</th>
              <th>아이템번호</th>
              <th>아이템이름</th>
              <th>가격</th>
              <th>저자이름</th>
           </tr>
         </thead>
         <tbody>

         {% for u in orderlist %}
           <tr>

              <td>{{ u.ordernum }}</td>
              <td>{{ u.itemnum }}</td>
              <td>{{ u.itemname  }}</td>
              <td>{{ u.price  }}</td>
              <td>{{ u.authorname }}</td>
           </tr>
         {% endfor %}

         </tbody>

        </table>




</section>