<style>
  .author-list {
    height: 420px;
    overflow: auto;
    border: 1px solid #777;
  }

  .info-box {
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>

<!-- author search -->
<h2>저자 및 책 추가</h2>

<form action="{% url 'searchauthor' %}" accept-charset="utf-8" name="search_author" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>저자 이름 검색</legend>
      저자 이름 : <input type="text" name="search_authorname">
      <button type="submit">검색</button>
  </fieldset>
</form>
<hr>

<!-- result of author searched -->
{% if authorlist != None %}
  <form action="#" name="search_author_result" method="post">
    <legend>검색결과</legend>
    입력 버튼을 누르면 새 책 추가에 데이터가 입력됩니다.
    <div class="author-list">
      {% for author in authorlist %}
        <ul>
          <span>저자 이름: {{author.authorname}}</span>
          <span class="co1">|</span>
          <span>저자 번호: {{author.authornum}}</span>
          <input type="button" onclick="author_select({{author.authornum}});" value="입력">
          {% for publist in publistAll %}
            {% if forloop.counter == forloop.parentloop.counter %}
              {% for publish in publist %}
                <li>
                  책 번호: {{publish.itemnum}}
                  <span class="co1">|</span>
                  {% if publish.catenum == 2 %}
                    일반 소설
                  {% elif publish.catenum == 12 %}
                    장르 소설
                  {% endif %}
                  <span class="co1">|</span>
                  {{publish.itemname}}
                  <span class="co1">|</span>
                  {{publish.itemdate|date:"Y-m-d"}}
                  <span class="co1">|</span>
                  {{publish.price}}원
                  <span class="co1">|</span>
                  시리즈: {{publish.series}}
                  <input type="button" onclick="series_select({{author.authornum}}, {{publish.series}});" value="입력">
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </form>
{%else%}
  <h5>검색결과가 없습니다.</h5>
{% endif %}
<hr>

<!-- add author -->
<form action="{% url 'addauthor' %}" accept-charset="utf-8" name="add_author" method="post">
  {% csrf_token %}
  <legend>새 저자 추가</legend>
    <a href="#" id="show_add_author" onclick="if(hide_add_author.style.display=='none') {hide_add_author.style.display='';show_add_author.innerText='▲접기'} else {hide_add_author.style.display='none';show_add_author.innerText='▶펼치기'}">▶펼치기</a>
    <div id="hide_add_author" style="display: none">
      저자 이름 : <input type="text" name="add_authorname"><br><br>
      <textarea name="add_authorinfo" class="info-box" cols="100" rows="12" placeholder="저자 정보"></textarea><br>
      <button type="submit" class="btn btn-default">추가</button>
    </div>
</form>
<hr>

<!-- add item -->
<form action="{% url 'additem' %}" accept-charset="utf-8" name="add_item" method="post">
  {% csrf_token %}
  <legend>새 책 추가</legend>
  카테고리
  <select name="category">
    <option value="2">일반 소설</option>
    <option value="12">장르 소설</option>
  </select><br>
  저자 번호 : <input type="number" id="item_authornum" name="item_authornum"><br>
  책 이름 : <input type="text" name="itemname"><br>
  가격 : <input type="number" name="price"><br>
  출간일<br>
  <input type="date" name="itemdate"><br><br>
  <textarea name="iteminfo" class="info-box" cols="100" rows="12" placeholder="책 정보"></textarea><br>
  <input type="hidden" name="sells" value="0">
  책 시리즈 : <input type="number" id="series" name="series" value="0"> (0일시 자동으로 등록할 책 번호로 입력 됨)<br>
  <button type="submit" class="btn btn-default">추가</button>
</form>
<hr>

<script>
  function author_select(authornum){
    $('#item_authornum').val(authornum);
  };

  function series_select(authornum, series){
    $('#item_authornum').val(authornum);
    $('#series').val(series);
  };

  {% if error != None %}
    $(document).ready(function(){
      alert(error);
    });
  {% endif %}
</script>