{% load static %}

<!DOCTYPE html>


<html lang="en">

<head>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>쟈스민</title>
  <link rel="shortcut icon" href="{% static 'img/icon/favicon.jpg' %}" type="image/x-icon">



  <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/angriff1.css' %}" rel="stylesheet">
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=376508184b07f8aec6285dd6ebfdf05c"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">

  <style>
    body{
      padding-top : 0px;
    }
    nav{
      margin-bottom : 0px
      padding-bottom : 0px
      border : 10px;
      border-style: none none solid none;
      border-color: #ffcc00;
    }
  </style>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <ul class="navbar-nav navbar-left">
          <li>
            <img class="img-responsive center-block" src="static/img/icon/mainlogo.png" display="inline-block"><a href="{% url 'about' %}"></a>
          </li>
          <li><span></span></li><span></span>
        </ul>
        {% include "jasmine/searchbar.html" %}
        <ul class="navbar-nav navbar-right">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              {% if request.session.suser == None %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'join' %}">JOIN</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link " href="{% url 'mypage' %}?usernum={{ request.session.susernum }}">MYPAGE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
              </li>
              {% endif %}
        </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.magnific-popup.js' %}"></script>
</body>
</html>