/* font */
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css">
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

section {
  font-family: 'NanumBarunGothic', 'Nanum Gothic', sans-serif;
  font-size: 12px;
  color: #777;
}

.thumbnails {
    width: 100%;
    height: 100%;
    border: 1px solid #9c9c9c;
}

/* item list */
.list_content {
  font-family: 'NanumBarunGothic', 'Nanum Gothic', sans-serif;
  font-size: 12px;
  color: #777;
}

.list-topbar {
  font-size: 15px;
  color: #343a40;
  line-height: 100%;
}

.current-cate {
  float: left;
  height: 34px;
  margin: 10px 20px 0;
}

.search-result {
  font-size: 12px;
  margin: 0 20px;
}

.list_content ul {
  overflow: hidden;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.list_content ul .list_item {
  width: 200px;
  float: left;
  padding: 30px 10px;
  text-align: center;
  background-color: transparent;
  border-top: 1px solid #d8d8d8;
}

.list_content ul .list_item .pic-area {
  width: 124px;
  height: 182px;
  margin: 0 auto;
  position: relative;
}

.list_content ul .list_item .pic-area .book-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.list_content .list_item .cont-area {
  text-align: center;
  color: #6b6d70;
  padding-top: 8px;
}

/* item menu */
.item-menu {
  font-family: 'NanumBarunGothic', 'Nanum Gothic', sans-serif;
  font-size: 12px;
  color: #777;
  margin-top: 30px;
}

.item-menu .book-preview {
  width: 200px;
  float: left;
  text-align: center;
  margin: 0 50px 30px 0;
}

.item-menu .book-preview .cover {
  margin-bottom: 12px;
}

.item-menu .order-box .book-title {
  color: #343a40;
  margin-bottom: 18px;
}

.item-menu .order-box .txt-info {
  font-size: 15px;
  line-height: 160%;
}

.item-menu .order-box .book-price {
  color: #343a40;
  margin: 30px 0 20px;
}

.item-menu .order-box .book-price .ebook-price {
  font-size: 14px;
}

.item-menu .order-box .book-price h3 {
  margin: 0;
}

.item-menu .order-box .btn-wrap .buttons {
  display: inline-block;
  min-width: 85px;
  height: 56px;
  padding: 14px 10px 0;
  margin: 0 10px 10px 0;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: #007bff;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.item-detail {
  font-family: 'NanumBarunGothic', 'Nanum Gothic', sans-serif;
  font-size: 12px;
  color: #777;
  clear: left;
}

.item-detail .detail-title{
  font-size: 18px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.item-detail .detail-title:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.item-detail .detail-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* paging */
.paging {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #fd7e14;
}

.paging strong a {
  margin: 0 5px;
  color: #fd7e14;
}

.paging strong span {
  margin: 0 5px;
  color: #343a40;
}

/* searchbar */
.navbar-brand {
  margin-right: 100px;
}

.navbar-form {
  font-family: 'NanumBarunGothic', 'Nanum Gothic', sans-serif;
  font-size: 12px;
  margin: 0;
  display: inline-block;
  width: 365px;
  margin-left: auto; margin-right: auto;
}

.form-select {
  margin-bottom: 0;
  vertical-align: middle;
  height: 34px;
}

.form-control {
  width: 200px;
}

@media (max-width: 768px) {
  .navbar-brand, .navbar-form {
    clear: left;
  }
}
